doctype 5
html
    head
        title TwitterTrader
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="components/socket.io-client/dist/socket.io.min.js")
        script(src="/javascripts/script.js")
    body
        .container
            .header
                h1 TwitterTrader
                small 
                    | There has been an error sorry for the inconvenience.
            