!!! 5
html(lang='en')
//
  <![endif]
  //
     BEGIN HEAD 
  head
    meta(charset='utf-8')
    title=title
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    //
       BEGIN GLOBAL MANDATORY STYLES 
    link(href='plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='plugins/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', type='text/css')
    link(href='plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='css/style-metro.css', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    link(href='css/style-responsive.css', rel='stylesheet', type='text/css')
    link#style_color(href='css/themes/default.css', rel='stylesheet', type='text/css')
    link(href='plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')
    //
       END GLOBAL MANDATORY STYLES 
    //
       BEGIN PAGE LEVEL STYLES 
    link(href='plugins/gritter/css/jquery.gritter.css', rel='stylesheet', type='text/css')
    link(href='plugins/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet', type='text/css')
    link(href='plugins/fullcalendar/fullcalendar/fullcalendar.css', rel='stylesheet', type='text/css')
    link(href='plugins/jqvmap/jqvmap/jqvmap.css', rel='stylesheet', type='text/css', media='screen')
    link(href='plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css', rel='stylesheet', type='text/css', media='screen')
    //
       END PAGE LEVEL STYLES 
    link(rel='shortcut icon', href='favicon.ico')
  //
     END HEAD 
  //
     BEGIN BODY 
  body.fixed-top
    //
       BEGIN HEADER 
    .header.navbar.navbar-inverse.navbar-fixed-top
      //
         BEGIN TOP NAVIGATION BAR 
      .navbar-inner
        .container-fluid
          //
             BEGIN LOGO 
          a.brand(href='index.html')
            img(src='img/logo.png', alt='logo')
          //
             END LOGO 
          //
             BEGIN RESPONSIVE MENU TOGGLER 
          a.btn-navbar.collapsed(href='javascript:;', data-toggle='collapse', data-target='.nav-collapse')
            img(src='img/menu-toggler.png', alt='')
          //
             END RESPONSIVE MENU TOGGLER 
          //
             BEGIN TOP NAVIGATION MENU 
          ul.nav.pull-right

            //
               BEGIN INBOX DROPDOWN 
            li#header_inbox_bar.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-envelope-alt
                span.badge 5
              ul.dropdown-menu.extended.inbox
                li
                  p You have x new tweets
                li
                  a(href='inbox.html?a=view')
                    span.photo
                      img(src='./img/avatar2.jpg', alt='')
                    span.subject
                      span.from Lisa Wong
                      span.time Just Now
                    span.message
                      | Vivamus sed auctor nibh congue nibh. auctor nibh
                      | auctor nibh...
                li
                  a(href='inbox.html?a=view')
                    span.photo
                      img(src='./img/avatar3.jpg', alt='')
                    span.subject
                      span.from Richard Doe
                      span.time 16 mins
                    span.message
                      | Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh
                      | auctor nibh...
                li
                  a(href='inbox.html?a=view')
                    span.photo
                      img(src='./img/avatar1.jpg', alt='')
                    span.subject
                      span.from Bob Nilson
                      span.time 2 hrs
                    span.message
                      | Vivamus sed nibh auctor nibh congue nibh. auctor nibh
                      | auctor nibh...
                li.external
                  a(href='inbox.html')
                    | See all messages
                    i.m-icon-swapright
            //
               END INBOX DROPDOWN 
            //
               BEGIN USER LOGIN DROPDOWN 
            li.dropdown.user
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img(alt='', src='img/avatar1_small.jpg')
                span.username Bob Nilson
              
            //
               END USER LOGIN DROPDOWN 
          //
             END TOP NAVIGATION MENU 
      //
         END TOP NAVIGATION BAR 
    //
       END HEADER 
    //
       BEGIN CONTAINER 
    .page-container
      //
         BEGIN SIDEBAR 
      .page-sidebar.nav-collapse.collapse
        //
           BEGIN SIDEBAR MENU 
        ul
          li
            //
               BEGIN SIDEBAR TOGGLER BUTTON 
            .sidebar-toggler.hidden-phone
            //
               BEGIN SIDEBAR TOGGLER BUTTON 
          li
            //
               BEGIN RESPONSIVE QUICK SEARCH FORM 
            form.sidebar-search
              .input-box
                a.remove(href='javascript:;')
                input(type='text', placeholder='Search...')
                input.submit(type='button', value=' ')
            //
               END RESPONSIVE QUICK SEARCH FORM 
          li.start.active
            a(href='index')
              i.icon-home
              span.title Dashboard
              span.selected            
          li
            a.active(href='portfolios')
              i.icon-briefcase
              span.title Portfolios
          li
            a(href='companies')
              i.icon-folder-open
              span.title Companies
          li
            a(href='industries')
              i.icon-folder-open
              span.title Industries
        //
           END SIDEBAR MENU 
      //
         END SIDEBAR 
      //
         BEGIN PAGE 
      .page-content
        //
           BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
        #portlet-config.modal.hide
          .modal-header
            button.close(data-dismiss='modal', type='button')
            h3 Widget Settings
            | Widget settings form goes here
        //
           END SAMPLE PORTLET CONFIGURATION MODAL FORM
        //
           BEGIN PAGE CONTAINER
        .container-fluid
          //
             BEGIN PAGE HEADER
          .row-fluid
            .span12
              //
                 BEGIN PAGE TITLE & BREADCRUMB
              h3.page-title
                | Dashboard
                small statistics and more
              ul.breadcrumb
                li
                  i.icon-home
                  a(href='index.html') Home
                  i.icon-angle-right
                li
                  a(href='#') Dashboard
                li.pull-right.no-text-shadow
                  #dashboard-report-range.dashboard-date-range.tooltips.no-tooltip-on-touch-device.responsive(data-tablet='', data-desktop='tooltips', data-placement='top', data-original-title='Change dashboard date range')
                    i.icon-calendar
                    span
                    i.icon-angle-down
              //
                 END PAGE TITLE & BREADCRUMB
          //
             END PAGE HEADER
          #dashboard
            //
               BEGIN DASHBOARD STATS 
            .row-fluid
              .span3.responsive(data-tablet='span6', data-desktop='span3')
                .dashboard-stat.blue
                  .visual
                    i.icon-comments
                  .details
                    .number
                      | 1349
                    .desc
                      | New Tweets
                  a.more(href='#')
                    | View more
                    i.m-icon-swapright.m-icon-white
              .span3.responsive(data-tablet='span6', data-desktop='span3')
                .dashboard-stat.green
                  .visual
                    i.icon-shopping-cart
                  .details
                    .number 549
                    .desc New Companies
                  a.more(href='#')
                    | View more
                    i.m-icon-swapright.m-icon-white
              .span3.responsive(data-tablet='span6  fix-offset', data-desktop='span3')
                .dashboard-stat.purple
                  .visual
                    i.icon-globe
                  .details
                    .number +89%
                    .desc Increase in Tweets
                  a.more(href='#')
                    | View more
                    i.m-icon-swapright.m-icon-white
              .span3.responsive(data-tablet='span6', data-desktop='span3')
                .dashboard-stat.yellow
                  .visual
                    i.icon-bar-chart
                  .details
                    .number 12,5M
                    .desc Total Tweets
                  a.more(href='#')
                    | View more
                    i.m-icon-swapright.m-icon-white
            //
               END DASHBOARD STATS 
            .clearfix
            .row-fluid
              .span6
                //
                   BEGIN PORTLET
                .portlet.solid.bordered.light-grey
                  .portlet-title
                    .caption
                      i.icon-bar-chart
                      | Site Visits
                    .tools
                      .btn-group.pull-right(data-toggle='buttons-radio')
                        a.btn.mini(href='javascript:;') Users
                        a.btn.mini.active(href='javascript:;') Feedbacks
                  .portlet-body
                    #site_statistics_loading
                      img(src='img/loading.gif', alt='loading')
                    #site_statistics_content.hide
                      #site_statistics.chart
                //
                   END PORTLET
              .span6
                //
                   BEGIN PORTLET
                .portlet.solid.light-grey.bordered
                  .portlet-title
                    .caption
                      i.icon-bullhorn
                      | Activities
                    .tools
                      .btn-group.pull-right(data-toggle='buttons-radio')
                        a.btn.blue.mini.active(href='javascript:;') Users
                        a.btn.blue.mini(href='javascript:;') Orders
                  .portlet-body
                    #site_activities_loading
                      img(src='img/loading.gif', alt='loading')
                    #site_activities_content.hide
                      #site_activities(style='height: 100px;')
                //
                   END PORTLET
                //
                   BEGIN PORTLET
                .portlet.solid.bordered.light-grey
                  .portlet-title
                    .caption
                      i.icon-signal
                      | Server Load
                    .tools
                      .btn-group.pull-right(data-toggle='buttons-radio')
                        a.btn.red.mini.active(href='javascript:;')
                          span.hidden-phone Database
                          span.visible-phone DB
                        a.btn.red.mini(href='javascript:;') Web
                  .portlet-body
                    #load_statistics_loading
                      img(src='img/loading.gif', alt='loading')
                    #load_statistics_content.hide
                      #load_statistics(style='height: 108px;')
                //
                   END PORTLET
            .clearfix
            .row-fluid
              .span6
                .portlet.box.purple
                  .portlet-title
                    .caption
                      i.icon-calendar
                      | General Stats
                    .actions
                      a.btn.yellow.easy-pie-chart-reload(href='javascript:;')
                        i.icon-repeat
                        | Reload
                  .portlet-body
                    .row-fluid
                      .span4
                        .easy-pie-chart
                          .number.transactions(data-percent='55')
                            span +55
                            | %
                          a.title(href='#')
                            | Transactions
                            i.m-icon-swapright
                      .margin-bottom-10.visible-phone
                      .span4
                        .easy-pie-chart
                          .number.visits(data-percent='85')
                            span +85
                            | %
                          a.title(href='#')
                            | New Visits
                            i.m-icon-swapright
                      .margin-bottom-10.visible-phone
                      .span4
                        .easy-pie-chart
                          .number.bounce(data-percent='46')
                            span -46
                            | %
                          a.title(href='#')
                            | Bounce
                            i.m-icon-swapright
              .span6
                .portlet.box.blue
                  .portlet-title
                    .caption
                      i.icon-calendar
                      | Server Stats
                    .tools
                      a.collapse(href='javascript:;')
                      a.config(href='#portlet-config', data-toggle='modal')
                      a.reload(href='javascript:;')
                      a.remove(href='javascript:;')
                  .portlet-body
                    .row-fluid
                      .span4
                        .sparkline-chart
                          #sparkline_bar.number
                          a.title(href='#')
                            | Network
                            i.m-icon-swapright
                      .margin-bottom-10.visible-phone
                      .span4
                        .sparkline-chart
                          #sparkline_bar2.number
                          a.title(href='#')
                            | CPU Load
                            i.m-icon-swapright
                      .margin-bottom-10.visible-phone
                      .span4
                        .sparkline-chart
                          #sparkline_line.number
                          a.title(href='#')
                            | Load Rate
                            i.m-icon-swapright
            .clearfix
            .row-fluid                               
              .span6
        //
           END PAGE CONTAINER
      //
         END PAGE 
    //
       END CONTAINER 
    //
       BEGIN FOOTER 
    .footer
      | 2013 © Metronic by keenthemes.
    //
       END FOOTER 
    //
       BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) 
    //
       BEGIN CORE PLUGINS 
    script(src='plugins/jquery-1.8.3.min.js', type='text/javascript')
    //
       IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip 
    script(src='plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js', type='text/javascript')
    script(src='plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
    //if lt IE 9
      script(src='plugins/excanvas.js')
      script(src='plugins/respond.js')
    script(src='plugins/breakpoints/breakpoints.js', type='text/javascript')
    //
       IMPORTANT! jquery.slimscroll.min.js depends on jquery-ui-1.10.1.custom.min.js 
    script(src='plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
    script(src='plugins/jquery.blockui.js', type='text/javascript')
    script(src='plugins/jquery.cookie.js', type='text/javascript')
    script(src='plugins/uniform/jquery.uniform.min.js', type='text/javascript')
    //
       END CORE PLUGINS 
    //
       BEGIN PAGE LEVEL PLUGINS 
    script(src='plugins/jqvmap/jqvmap/jquery.vmap.js', type='text/javascript')
    script(src='plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js', type='text/javascript')
    script(src='plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js', type='text/javascript')
    script(src='plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js', type='text/javascript')
    script(src='plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js', type='text/javascript')
    script(src='plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js', type='text/javascript')
    script(src='plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js', type='text/javascript')
    script(src='plugins/flot/jquery.flot.js', type='text/javascript')
    script(src='plugins/flot/jquery.flot.resize.js', type='text/javascript')
    script(src='plugins/jquery.pulsate.min.js', type='text/javascript')
    script(src='plugins/bootstrap-daterangepicker/date.js', type='text/javascript')
    script(src='plugins/bootstrap-daterangepicker/daterangepicker.js', type='text/javascript')
    script(src='plugins/gritter/js/jquery.gritter.js', type='text/javascript')
    script(src='plugins/fullcalendar/fullcalendar/fullcalendar.min.js', type='text/javascript')
    script(src='plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js', type='text/javascript')
    script(src='plugins/jquery.sparkline.min.js', type='text/javascript')
    //
       END PAGE LEVEL PLUGINS 
    //
       BEGIN PAGE LEVEL SCRIPTS 
    script(src='scripts/app.js', type='text/javascript')
    script(src='scripts/index.js', type='text/javascript')
    //
       END PAGE LEVEL SCRIPTS 
    script.
      jQuery(document).ready(function() {
      App.init(); // initlayout and core plugins
      Index.init();
      Index.initJQVMAP(); // init index page's custom scripts
      Index.initCalendar(); // init index page's custom scripts
      Index.initCharts(); // init index page's custom scripts
      Index.initChat();
      Index.initMiniCharts();
      Index.initDashboardDaterange();
      Index.initIntro();
      });
    //
       END JAVASCRIPTS 
  //
     END BODY 