!!! 5
html(lang='en')
//
  <![endif]
  //
     BEGIN HEAD 
  head
    meta(charset='utf-8')
    title=title
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    //
       BEGIN GLOBAL MANDATORY STYLES 
    link(href='plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='plugins/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', type='text/css')
    link(href='plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='css/style-metro.css', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    link(href='css/style-responsive.css', rel='stylesheet', type='text/css')
    link#style_color(href='css/themes/default.css', rel='stylesheet', type='text/css')
    link(href='plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')
    //
       END GLOBAL MANDATORY STYLES 
    link(rel='shortcut icon', href='favicon.ico')
    link(href='css/pages/pricing-tables.css', rel='stylesheet', type='text/css')
    link(href='css/pages/profile.css', rel='stylesheet', type='text/css')
    
  //
     END HEAD 
  //
     BEGIN BODY 
  body.fixed-top
    //
       BEGIN HEADER 
    .header.navbar.navbar-inverse.navbar-fixed-top
      //
         BEGIN TOP NAVIGATION BAR 
      .navbar-inner
        .container-fluid
          //
             BEGIN LOGO 
          a.brand(href='index.html')
            img(src='img/logo.png', alt='logo')
          //
             END LOGO 
          //
             BEGIN RESPONSIVE MENU TOGGLER 
          a.btn-navbar.collapsed(href='javascript:;', data-toggle='collapse', data-target='.nav-collapse')
            img(src='img/menu-toggler.png', alt='')
          //
             END RESPONSIVE MENU TOGGLER 
          //
             BEGIN TOP NAVIGATION MENU 
          ul.nav.pull-right
            //
               BEGIN USER LOGIN DROPDOWN 
            li.dropdown.user
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img(alt='', src='img/avatar1_small.jpg')
                span.username Bob Nilson
                i.icon-angle-down
              ul.dropdown-menu
                li
                  a(href='extra_profile.html')
                    i.icon-user
                    | My Profile
                li
                  a(href='page_calendar.html')
                    i.icon-calendar
                    | My Calendar
                li
                  a(href='inbox.html')
                    i.icon-envelope
                    | My Inbox(3)
                li
                  a(href='#')
                    i.icon-tasks
                    | My Tasks
                li.divider
                li
                  a(href='login.html')
                    i.icon-key
                    | Log Out
            //
               END USER LOGIN DROPDOWN 
          //
             END TOP NAVIGATION MENU 
      //
         END TOP NAVIGATION BAR 
    //
       END HEADER 
    //
       BEGIN CONTAINER 
    .page-container.row-fluid
      //
         BEGIN SIDEBAR 
      .page-sidebar.nav-collapse.collapse
        //
           BEGIN SIDEBAR MENU 
        ul
          li
            //
               BEGIN SIDEBAR TOGGLER BUTTON 
            .sidebar-toggler.hidden-phone
            //
               BEGIN RESPONSIVE QUICK SEARCH FORM 
          li     
            form.sidebar-search
              .input-box
                a.remove(href='javascript:;')
                input(type='text', placeholder='Search...')
                input.submit(type='button', value=' ')
            //
               END RESPONSIVE QUICK SEARCH FORM 
            //
               BEGIN SIDEBAR TOGGLER BUTTON 
          li
            a(href='index')
              i.icon-home
              span.title Dashboard
          li
            a.active(href='portfolios')
              i.icon-briefcase
              span.title Portfolios
          li
            a(href='companies')
              i.icon-folder-open
              span.title Companies
          li.start.active
            a(href='industries')
              i.icon-folder-open
              span.title Industries
              span.selected
      //
         END SIDEBAR 
      //
         BEGIN PAGE 
      .page-content
        //
           BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
        #portlet-config.modal.hide
          .modal-header
            button.close(data-dismiss='modal', type='button')
            h3 portlet Settings
            p Here will be a configuration form
        //
           END SAMPLE PORTLET CONFIGURATION MODAL FORM
        //
           BEGIN PAGE CONTAINER
        .container-fluid
          //
             BEGIN PAGE HEADER
          .row-fluid
            .span12
              //
                 BEGIN PAGE TITLE & BREADCRUMB
              h3.page-title
                | Industries 
                small summary of all industries
              ul.breadcrumb
                li
                  i.icon-home
                  a(href='index') Home
                  i.icon-angle-right
                li
                  a(href='industries') Industries
              //
                 END PAGE TITLE & BREADCRUMB
          //
             END PAGE HEADER
          //
             BEGIN PAGE CONTENT
             .row-fluid
               .span12
                  //
                     BEGIN INLINE NOTIFICATIONS PORTLET
                  .portlet
                    .portlet-title
                      .caption
                        i.icon-cogs
                        | Industries
                      .tools
                        a.collapse(href='javascript:;')
                        a.config(href='#portlet-config', data-toggle='modal')
                        a.reload(href='javascript:;')
                        a.remove(href='javascript:;')
                    .portlet-body
                      .row-fluid.add-portfolio
                        .pull-left
                          - if (industries.length == 1)
                            span #{industries.length} Industry
                          - else  
                            span #{industries.length} Industries
                        .pull-left
                          a.btn.icn-only.green(href='#')
                            | Add a new Industry 
                            i.m-icon-swapright.m-icon-white
                      .row-fluid.margin-bottom-40
                      - each industry in industries  
                        .span3.pricing.hover-effect
                          .pricing-head
                            h3
                              =industry.name
                              span 
                                =industry.description
                            h4
                              =industry.tweets.length
                              span Tweets
                          ul.pricing-content.unstyled
                            li
                              i.icon-tags
                              =industry.companies.length
                              |  companies
                          .pricing-footer
                            p
                              =industry.description
                            a.btn.green(href='industry?id=#{industry.id}')
                              | View 
                              i.m-icon-swapright.m-icon-white
          //
             END PAGE CONTENT
        //
           END PAGE CONTAINER
      //
         END PAGE 
    //
       END CONTAINER 
    //
       BEGIN FOOTER 
    .footer
      | 2013 © Metronic by keenthemes.
      .span.pull-right
        span.go-top
          i.icon-angle-up
    //
       END FOOTER 
    //
       BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) 
    //
       BEGIN CORE PLUGINS 
    script(src='plugins/jquery-1.8.3.min.js', type='text/javascript')
    script(src='plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
    //if lt IE 9
      script(src='plugins/excanvas.js')
      script(src='plugins/respond.js')
    script(src='plugins/breakpoints/breakpoints.js', type='text/javascript')
    script(src='plugins/jquery.cookie.js', type='text/javascript')
    script(src='plugins/uniform/jquery.uniform.min.js', type='text/javascript')
    //
       END CORE PLUGINS 
    script(src='scripts/app.js')
    script.
      jQuery(document).ready(function() {
      App.init();
      });
    //
       END JAVASCRIPTS 
  //
     END BODY 
